body{
    padding: 2px;
    margin: 5px;;
    color: brown;
}
nav{
    display: inline;
    justify-content: space-between;
    color: brown;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul{
    list-style: none;
    display: flexbox;
    gap: 20px;
}
